## Chapter 2: UNIX Commands

NLP 100  

Steven Coyne
  
The file popular-names.txt stores names of babies born in US with their genders, numbers of births, and years of births in tab-separated format. Create a program with the specifications below. Run the program with popular-names.txt as an input. Furthermore, confirm that the same (similar) result can be obtained by running a UNIX command.

### 10. Line count

Count the number of lines of the file. Confirm the result by using wc command.

In [6]:
#there should be 2780
!wc -l data/popular-names.txt

    2780 data/popular-names.txt

### 11. Replace tabs into spaces

Replace every occurrence of a tab character into a space. Confirm the result by using sed, tr, or expand command.

In [18]:
!sed 's/\t/ /g' data/popular-names.txt | head -n5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: stdout: Broken pipe

### 12. col1.txt from the first column, col2.txt from the second column

Extract the value of the first column of each line, and store the output into col1.txt. Extract the value of the second column of each line, and store the output into col2.txt. Confirm the result by using cut command.

In [8]:
!cut -f 1 data/popular-names.txt > work/col1.txt
!cut -f 2 data/popular-names.txt > work/col2.txt

### 13. Merging col1.txt and col2.txt

Join the contents of col1.txt and col2.txt, and create a text file whose each line contains the values of the first and second columns (separated by tab character) of the original file. Confirm the result by using paste command.

In [9]:
!paste work/col1.txt work/col2.txt > work/name-and-gender.txt

### 14. First N lines

Receive a natural number $N$ from a command-line argument, and output the first $N$ lines of the file. Confirm the result by using head command.

In [10]:
#This works in the actual terminal but not in the notebook
!N=3
!head -n $N work/name-and-gender.txt

head: illegal line count -- work/name-and-gender.txt

Output:

Mary    F  
Anna    F  
Emma    F

### 15. Last N lines

Receive a natural number $N$ from a command-line argument, and output the last $N$ lines of the file. Confirm the result by using tail command.

In [51]:
#This works in the actual terminal but not in the notebook
!N=8
!tail -n $N work/name-and-gender.txt

tail: illegal offset -- name-and-gender.txt

Output:

William M  
James   M  
Oliver  M  
Benjamin        M  
Elijah  M  
Lucas   M  
Mason   M  
Logan   M

### 16. Split a file into N pieces

Receive a natural number $N$ from a command-line argument, and split the input file into $N$ pieces at line boundaries. Confirm the result by using split command.

In [13]:
#works in terminal
!N=6
#makes names_aa, names_ab, etc
!split -n $N work/name-and-gender.txt work/names_

split: work/name-and-gender.txt: illegal number of chunks

### 17. Distinct strings in the first column

Find distinct strings (a set of strings) of the first column of the file. Confirm the result by using cut, sort, and uniq commands.

In [14]:
!cut -f 1 data/popular-names.txt | sort | uniq > work/unique_names.txt

### 18. Sort lines in descending order of the third column

Sort the lines in descending numeric order of the third column (sort lines without changing the content of each line). Confirm the result by using sort command.

In [17]:
!sort -rnk3 data/popular-names.txt | head -n5

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
sort: Broken pipe

### 19. Frequency of a string in the first column in descending order

Find the frequency of a string in the first column, and sort the strings by descending order of their frequencies. Confirm the result by using cut, uniq, and sort commands.

In [15]:
!cut -f 1 data/popular-names.txt | sort | uniq -c | sort -r > work/unique_counts.txt